<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>guess the word</h1>

  <p>{{#letters}} {{ . }} {{/letters}}  Guesses Left: {{#numberOfGuesses}}{{.}}{{/numberOfGuesses}}</p>
  <p>{{#spaces}} {{ _ }} {{/spaces}}</p>
    {{#gameOver}}<p>{{.}}</p>{{/gameOver}}

    <form action="/" method="post">

      <input type="text" name="letterInput" placeholder="guess a letter">
      <button type="submit">Guess</button>

    </form>
    <br>
    <div class="lettersGuessed">
      <h3>Guessed Letters</h3>
      <p> {{#guessed}} {{.}} {{/guessed}} </p>
    </div>
    <div class="errors">
      <ul>
        {{#errors}}
        <p>{{msg}}</p>
        {{/errors}}
      </ul>
    </div>


  </body>
</html>
