<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>you win</title>
  </head>
  <body>
    <h1>YOU WIN, have a nice time</h1>
    <img src="https://media.giphy.com/media/k7nUblXRPCsc8/giphy.gif" alt="you did it">
  </body>
</html>
